$primary-color: #fff;
$primary-size: 4rem;
$primary-font: 'Raleway', sans-serif;

$second-color: #000;
$second-size: 2rem;
$second-font: 'Raleway', sans-serif;

$third-color: #000;
$third-size: 1.8rem;
$third-font: 'Raleway', sans-serif;


$txt-color: #000;
$txt-size: 1.2rem;
$txt-font: 'Raleway', sans-serif;
$txt-height: 1.8rem;

$link-color: #000;
$link-size: 1.2rem;
$link-font: 'Raleway', sans-serif;

$btn-color: #000;
